.ch {
    padding: 6px;
    background-color: lightgray;
    display: inline-block;
    height: 8px;
    width: 8px;
    box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.75);
    cursor: pointer;
}

.ch:hove {
    background-color: aquamarine;
}

body {
    margin: 0;
    background-color: dimgrey;
}

.main {
    margin: 0 auto;
    padding: 15px;
}

.btn {
    padding: 8px;
    background-color: lightgray;
    display: inline-block;
    box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    color: black;
    font-size: 18px;
}